@model  SmsMis.Models.Console.Client.Party
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewBag.Title = "Party";
}
@section Scripts {
    <script src="~/ng-Scripts/PartyModule.js"></script>
    <link href="~/design/Default.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
}
<script>
    showShield();
</script>
<style>
    .tbl td {
        border: 1px solid black;
    }
</style>

<span class="pageTitle">Manage Party</span>
<br /><br />

<div ng-app="clientModule1" ng-controller="PartysController">
    @*<div ng-app="adminModule1" ng-controller="AdmissionInquiryController">*@

    <table style="width:100%">
        <tr>
            <td style="width:30%;vertical-align:top">
                <div id="dvListing">
                    <div id="dvSearch">
                        <table border="0">
                            <tr>
                                <td><input type="search" placeholder="Search Party" ng-model="search.PartyName" /></td>
                                <td><img src="~/images/actions/add.png" style="cursor:pointer;" ng-click="clear();" class="Buttons" /></td>
                            </tr>
                        </table>
                    </div>
                    <table border="0" class="listing">
                        <thead>
                            <tr>
                                <th>Manage Party</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="obj in listData | filter: search" class="ng-class-even: 'even'; ng-class-odd: 'odd';" ng-click="load(obj)">
                            <td>{{obj.PartyName}}</td>
                        </tr>
                    </table>
                    <span ng-hide="listData">@*Loading, please wait...*@</span>
                </div>
            </td>
            <td style="width:70%;">
                <div id="dvFormContainer" class="DetailPage">

                    <table style="width: 100%">
                        <tr>
                            <td>
                                <table style="width: 100%">
                                    <tr>
                                        <td class="TableHeader">
                                            <span class="requiredCaption">Party</span>
                                        </td>
                                    </tr>
                                    
                                    <tr id="trCompanyInfo">
                                        <td>
                                            @using (Html.BeginForm("Party", "Client", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                            {
                                                <table style="width: 100%" class="FormTable" cellspacing="1" cellpadding="2" border="0">
                                                    <tr>
                                                        <td style="width:21%" class="FormCaptionLeft">
                                                            <span class="requiredCaption">Company </span>
                                                            <span class="required">*</span>
                                                        </td>
                                                        <td nowrap="nowrap" style="width:28.5%" class="FormTableContainer">
                                                            <select id="companyCode" ng-model="selectedObject.CompanyCode" ng-options="obj.CompanyCode as obj.CompanyName for obj in listCompany" class="ComboBoxesFlexible" ng-change="getCOACompanyWise(obj.CompanyName)" ng-disabled="isEditMode" dosbox="true"></select>
                                                        </td>
                                                        <td style="width:21%" class="FormCaptionLeft">
                                                            <span class="requiredCaption">Branch</span>
                                                            <span class="required">*</span>
                                                        </td>
                                                        <td nowrap="nowrap" style="width:28.5%" class="FormTableContainer">
                                                            <select id="BranchCode" ng-model="selectedObject.BranchCode" ng-options="obj.BranchCode as obj.BranchName for obj in listBranch | filter: {CompanyCode: selectedObject.CompanyCode}" class="ComboBoxesFlexible" ng-disabled="!selectedObject.CompanyCode || isEditMode" dosbox="true">
                                                                <option value=""></option>
                                                            </select>

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td nowrap="nowrap" style="width:21%" class="FormCaptionLeft">
                                                            <span class="requiredCaption">Party Name</span>
                                                            <span class="required">*</span>
                                                        </td>
                                                        <td style="width:28.5%" class="FormTableContainer">
                                                            @Html.TextBoxFor(m => m.PartyName, new { @class = "InputBoxes", @maxlength = "100", @dosbox = "true", data_ng_model = "selectedObject.PartyName" })
                                                            @Html.ValidationMessageFor(m => m.PartyName)

                                                        </td>
                                                        <td nowrap="nowrap" style="width:21%" class="FormCaptionLeft">
                                                            <span class="requiredCaption">Short Name</span>
                                                            <span class="required">*</span>
                                                        </td>
                                                        <td style="width:28.5%" class="FormTableContainer">
                                                            @Html.TextBoxFor(m => m.ShortName, new { @class = "InputBoxes", @maxlength = "10", @dosbox = "true", data_ng_model = "selectedObject.ShortName" })
                                                            @Html.ValidationMessageFor(m => m.ShortName)

                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td nowrap="nowrap" style="width:21%" class="FormCaptionLeft">
                                                            <span class="requiredCaption">Credit Party</span>
                                                            <span class="required">*</span>
                                                        </td>
                                                        <td nowrap="nowrap" style="width:28.5%" class="FormTableContainer">
                                                            <input type="checkbox" ng-model="selectedObject.CreditParty">
                                                        </td>
                                                        <td nowrap="nowrap" style="width:21%" class="FormCaptionLeft">
                                                            <span class="requiredCaption">Credit Days</span>
                                                            
                                                        </td>
                                                        <td style="width:28.5%" class="FormTableContainer">
                                                            @Html.TextBoxFor(m => m.CreditDays, new { @class = "InputBoxes", @maxlength = "10", @dosbox = "true", data_ng_model = "selectedObject.CreditDays" })
                                                            @Html.ValidationMessageFor(m => m.CreditDays)

                                                        </td></tr>
                                                        <tr>
                                                            <td nowrap="nowrap" style="width:21%" class="FormCaptionLeft">
                                                                <span class="requiredCaption">Credit Limit</span>
                                                                
                                                            </td>
                                                            <td style="width:28.5%" class="FormTableContainer">
                                                                @Html.TextBoxFor(m => m.CreditLimit, new { @class = "InputBoxes", @maxlength = "10", @dosbox = "true", data_ng_model = "selectedObject.CreditLimit" })
                                                                @Html.ValidationMessageFor(m => m.CreditLimit)

                                                            </td>
                                                        <td style="width:21%" class="FormCaptionLeft">
                                                            <span class="requiredCaption">Address</span>
                                                            
                                                        </td>
                                                        <td nowrap="nowrap" style="width:28.5%" class="FormTableContainer">
                                                            @Html.TextBoxFor(m => m.Address, new { @class = "InputBoxes", @maxlength = "255", @dosbox = "true", data_ng_model = "selectedObject.Address" })
                                                            @Html.ValidationMessageFor(m => m.Address)

                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td style="width:21%" class="FormCaptionLeft">Phone 1</td>
                                                        <td style="width:28.5%" class="FormTableContainer">
                                                            @Html.TextBoxFor(m => m.Phone1, new { @class = "InputBoxes", @maxlength = "25", @dosbox = "true", data_ng_model = "selectedObject.Phone1" })
                                                            @Html.ValidationMessageFor(m => m.Phone1)

                                                        </td>
                                                        <td style="width:21%" class="FormCaptionLeft">Phone 2</td>
                                                        <td style="width:28.5%" class="FormTableContainer">
                                                            @Html.TextBoxFor(m => m.Phone2, new { @class = "InputBoxes", @maxlength = "25", @dosbox = "true", data_ng_model = "selectedObject.Phone2" })
                                                            @Html.ValidationMessageFor(m => m.Phone2)

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:21%" class="FormCaptionLeft">Phone 3</td>
                                                        <td style="width:28.5%" class="FormTableContainer">
                                                            @Html.TextBoxFor(m => m.Phone3, new { @class = "InputBoxes", @maxlength = "25", @dosbox = "true", data_ng_model = "selectedObject.Phone3" })
                                                            @Html.ValidationMessageFor(m => m.Phone3)

                                                        </td>
                                                        <td style="width:21%" class="FormCaptionLeft">Phone 4</td>
                                                        <td style="width:28.5%" class="FormTableContainer">
                                                            @Html.TextBoxFor(m => m.Phone4, new { @class = "InputBoxes", @maxlength = "25", @dosbox = "true", data_ng_model = "selectedObject.Phone4" })
                                                            @Html.ValidationMessageFor(m => m.Phone4)

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:21%" class="FormCaptionLeft">Fax 1</td>
                                                        <td style="width:28.5%" class="FormTableContainer">
                                                            @Html.TextBoxFor(m => m.Fax1, new { @class = "InputBoxes", @maxlength = "25", @dosbox = "true", data_ng_model = "selectedObject.Fax1" })
                                                            @Html.ValidationMessageFor(m => m.Fax1)

                                                        </td>
                                                        <td style="width:21%" class="FormCaptionLeft">Fax2</td>
                                                        <td style="width:28.5%" class="FormTableContainer">
                                                            @Html.TextBoxFor(m => m.Fax2, new { @class = "InputBoxes", @maxlength = "25", @dosbox = "true", data_ng_model = "selectedObject.Fax2" })
                                                            @Html.ValidationMessageFor(m => m.Fax2)

                                                        </td></tr>
                                                        <tr>
                                                            <td style="width:21%" class="FormCaptionLeft">URL</td>
                                                            <td style="width:28.5%" class="FormTableContainer">
                                                                @Html.TextBoxFor(m => m.URL, new { @class = "InputBoxes", @maxlength = "50", @dosbox = "true", data_ng_model = "selectedObject.URL" })
                                                                @Html.ValidationMessageFor(m => m.URL)

                                                            </td>
                                                        <td style="width:21%" class="FormCaptionLeft">Email</td>
                                                        <td style="width:28.5%" class="FormTableContainer">
                                                            @Html.TextBoxFor(m => m.Email, new { @class = "InputBoxes", @maxlength = "50", @dosbox = "true", data_ng_model = "selectedObject.Email" })
                                                            @Html.ValidationMessageFor(m => m.Email)

                                                        </td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <td style="width:21%" class="FormCaptionLeft">
                                                            <span class="requiredCaption">STR #</span>
                                                            
                                                        </td>
                                                        <td nowrap="nowrap" style="width:28.5%" class="FormTableContainer">
                                                            @Html.TextBoxFor(m => m.STRNo, new { @class = "InputBoxes", @maxlength = "25", @dosbox = "true", data_ng_model = "selectedObject.STRNo" })
                                                            @Html.ValidationMessageFor(m => m.STRNo)

                                                        </td>
                                                        <td style="width:21%" class="FormCaptionLeft">
                                                            <span class="requiredCaption">NTN</span>
                                                            
                                                        </td>
                                                        <td nowrap="nowrap" style="width:28.5%" class="FormTableContainer">
                                                            @Html.TextBoxFor(m => m.NTN, new { @class = "InputBoxes", @maxlength = "25", @dosbox = "true", data_ng_model = "selectedObject.NTN" })
                                                            @Html.ValidationMessageFor(m => m.NTN)

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:21%" class="FormCaptionLeft">
                                                            <span class="requiredCaption">Remarks</span>
                                                            
                                                        </td>
                                                        <td nowrap="nowrap" style="width:28.5%" class="FormTableContainer">
                                                            @Html.TextBoxFor(m => m.Remarks, new { @class = "InputBoxes", @maxlength = "255", @dosbox = "true", data_ng_model = "selectedObject.Remarks" })
                                                            @Html.ValidationMessageFor(m => m.Remarks)

                                                        </td>
                                                        <td style="width:21%" class="FormCaptionLeft">
                                                            <span class="requiredCaption">Status</span>
                                                            <span class="required">*</span>
                                                        </td>
                                                        <td nowrap="nowrap" style="width:28.5%" class="FormTableContainer">
                                                            <select id="cboStatus" ng-model="selectedObject.Status" dosbox="true">
                                                                <option value="1">Active</option>
                                                                <option value="0">In-Active</option>
                                                            </select>

                                                        </td>
                                                    </tr>
                                                    
                                                        

                                                </table>
                                            }
                                        </td>
                                    </tr>

                                    <tr class="TableHeader">
                                        <td align="right" style="padding-right:5px;">
                                            <input type="submit" id="btnSumbit" value="Save" ng-click="save();"
                                                   dosbox="true" ng-disabled="isValid()" class="Buttons" />
                                            <input type="submit" id="btnDelete" value="Delete" ng-click="delete();" ng-show="isEditMode"
                                                   dosbox="true" class="Buttons" />

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div ng-show="saveError">
                                                <div style="color:green">
                                                    {{ saveError }}
                                                </div>
                                            </div>
                                            <div ng-show="listError">
                                                <div style="color:red">
                                                    {{ listError }}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>

    @*</div>*@
</div>